/*****************
 * Common colors *
 *****************/

:root {
  --black: #000;
  --white: #fff;
}

/************
 * HTML Tags*
 ************/

body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  background-color: var(--white);
  text-align: center;
}

header {
  padding: 10px;
  background: linear-gradient(#e66465, #9198e5);
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif;
}

p {
  margin: 20px 0 20px 0;
}

footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  margin-top: 20px;
  padding: 20px 0;
  background: linear-gradient(#e66465, #9198e5);
}

@media only screen and (max-width: 829px) {
  footer {
    position: relative;
  }
}

/***********
 * Nav Bar *
 ***********/

.nav {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
}

#change-theme {
  color: var(--black);
  cursor: pointer;
}

#change-theme:hover {
  color: #b0b3b8;
}

/***********
 * Buttons *
 ***********/

button {
  padding: 10px;
  border-radius: 5px;
  border: none !important;
  margin-bottom: 40px;
}

button:hover {
  cursor: pointer;
}

button:active {
  color: var(--black);
}

.hidden {
  display: none;
}

/****************
 * Start button *
 ****************/

#startBtn {
  background-color: #32CD32;
}

#startBtn:hover {
  background-color: #006400;
  color: var(--white);
}

#startBtn:active {
  background-color: #98fb98;
  color: var(--black);
}

/***************
 * Stop button *
 ***************/

#stopBtn {
  background-color: #f44336;
}

#stopBtn:hover {
  background-color: #800000;
  color: var(--white);
}

#stopBtn:active {
  background-color: #ff4500;
  color: var(--black);
}

/****************
 * Game buttons *
 ****************/

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

/**
 * Button 1
 */
#button1 {
  background-color: #9932cc;
}

#button1:active,
#button1.lit {
  background-color: #4b0082;
}

/**
 * Button 2
 */
#button2 {
  background-color: #ffd700;
}

#button2:active,
#button2.lit {
  background-color: #daa520;
}

/**
 * Button 3
 */
#button3 {
  background-color: #ffb6c1;
}

#button3:active,
#button3.lit {
  background-color: #f08080;
}

/**
 * Button 4
 */
#button4 {
  background-color: #00ffff;
}

#button4:active,
#button4.lit {
  background-color: #008b8b;
}

/**
 * Button 5
 */
#button5 {
  background-color: #ffa07a;
}

#button5:active,
#button5.lit {
  background-color: #ff8c00;
}

/**
 * Button 6
 */
#button6 {
  background-color: #cd5c5c;
}

#button6:active,
#button6.lit {
  background-color: #b22222;
}
